.bg-light{
  background-color: #38c7ff !important;
}

.nav-bar-light {
  color:white !important;
  width: 100%;
}

p {
  color: white !important
}

.mat-button {
  background: #d4b716;
  width:10rem;
  color: black;
}
